<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Our Network &#8211; IT Skyways KSA</title>
  <meta name="robots" content="max-image-preview:large" />
  <style>
    img:is([sizes="auto" i], [sizes^="auto," i]) {
      contain-intrinsic-size: 3000px 1500px;
    }
  </style>
  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" id="contact-form-7-css" href="../css/styles.css" type="text/css" media="all" />
  <link rel="stylesheet" id="cma-frontend-css" href="../css/frontend.css" type="text/css" media="all" />
  <link rel="stylesheet" id="font-awesome-css" href="../css/font-awesome.min.css" type="text/css" media="all" />
  <link rel="stylesheet" id="cma-animate-css-css" href="../css/animate.min.css" type="text/css" media="all" />
  <link rel="stylesheet" id="tweetscroll-css" href="../css/tweetscroll.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="cma-style-tooltip-css" href="../css/hint.min.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="cma-styles-bootstrap-css" href="../css/bootstrap.min.css" type="text/css" media="all" />
  <link rel="stylesheet" id="volcanno-style-css" href="../css/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="pixons-css" href="../css/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="linecons-css" href="../css/linecons.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="nivoslider-css" href="../css/nivo-slider.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="hint-css-css" href="../css/hint.min.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="owl-carousel-css" href="../css/owl.carousel.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="magnific-popup-css" href="../css/magnific-popup.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="volcanno-google-fonts-css" href="../css/css?family=Raleway:400,300,500,600,700,800,900,200,100%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" type="text/css" media="all" />
  <link rel="stylesheet" id="volcanno-responsive-css" href="../css/responsive.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="volcanno-retina-css-css" href="../css/retina.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="volcanno-color-style-css" href="../css/color-orange.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="ms-main-css" href="../css/masterslider.main.css" type="text/css" media="all" />
  <link rel="stylesheet" id="ms-custom-css" href="../css/custom.css" type="text/css" media="all" />
  <link rel="preload" as="style" href="../css/css?family=Open%20Sans%7CRaleway:800,600&#038;display=swap&#038;ver=1732171682" />
  <link rel="stylesheet" href="../css/css?family=Open%20Sans%7CRaleway:800,600&#038;display=swap&#038;ver=1732171682" media="print" onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet" href="../css/css?family=Open%20Sans%7CRaleway:800,600&#038;display=swap&#038;ver=1732171682" />
  </noscript>
  <script type="text/javascript" src="../js/jquery.min.js" id="jquery-core-js"></script>
  <script type="text/javascript" src="../js/jquery-migrate.min.js" id="jquery-migrate-js"></script>
  <script type="text/javascript" id="cma-frontend-js-extra">
    /* <![CDATA[ */
    var CMA = {
      elementsAnimation: "1",
      sequentialAnimation: "",
      elementsAnimationOffset: "80",
      sectionParallax: "1",
      stellarBgRatio: "0.4",
    };
    /* ]]> */
  </script>
  <script type="text/javascript" src="../js/cma.frontend.min.js" id="cma-frontend-js"></script>
  <script type="text/javascript" src="../js/waypoints.min.js" id="cma-waypoints-js"></script>
  <script type="text/javascript" src="../js/jquery.stellar.min.js" id="cma-stellar-js"></script>
  <script type="text/javascript" id="tweetscroll-js-extra">
    /* <![CDATA[ */
    var PiTweetScroll = {
      ajaxrequests: "https:\/\/skyways-logistik.ae\/wp-admin\/admin-ajax.php",
    };
    /* ]]> */
  </script>
  <script type="text/javascript" src="../js/jquery.tweetscroll.js" id="tweetscroll-js"></script>
  <script type="text/javascript" src="../js/volcanno.functions.js" id="volcanno_functions-js"></script>
<link rel="icon" href="../images/it-skyways-ksa-fav.jpg" sizes="32x32" />
  <style type="text/css" id="wp-custom-css">
    .row .custom-heading:only-child {
      margin-bottom: 0px;
    }
  </style>
  <style id="volcanno_options-dynamic-css" title="dynamic-css" class="redux-options-output">
    .page-title-style02 h1,
    .page-title-style01 h1 {
      color: #ffffff;
    }

    body {
      font-family: "Open Sans";
      line-height: 22px;
      font-weight: normal;
      font-style: normal;
      color: #777;
      font-size: 13px;
    }

    p {
      font-family: "Open Sans";
      line-height: 22px;
      font-weight: normal;
      font-style: normal;
      color: #777;
      font-size: 13px;
    }

    h1 {
      font-family: Raleway;
      line-height: 30px;
      font-weight: 800;
      font-style: normal;
      color: #333333;
      font-size: 30px;
    }

    h2 {
      font-family: Raleway;
      line-height: 26px;
      font-weight: 800;
      font-style: normal;
      color: #333333;
      font-size: 24px;
    }

    h3 {
      font-family: Raleway;
      line-height: 24px;
      font-weight: 800;
      font-style: normal;
      color: #333333;
      font-size: 21px;
    }

    h4 {
      font-family: Raleway;
      line-height: 22px;
      font-weight: 600;
      font-style: normal;
      color: #333333;
      font-size: 15px;
    }

    h5 {
      font-family: Raleway;
      line-height: 18px;
      font-weight: 800;
      font-style: normal;
      color: #333333;
      font-size: 16px;
    }

    h6 {
      font-family: Raleway;
      line-height: 18px;
      font-weight: 800;
      font-style: normal;
      color: #333333;
      font-size: 15px;
    }
  </style>
</head>

<body
  class="wp-singular page-template-default page page-id-65 wp-theme-trucking wp-child-theme-trucking-child-theme content-maker _masterslider _msp_version_3.4.5">
  <!-- #header-wrapper start -->
  <section id="header-wrapper" class="clearfix header-wrapper header-transparent search-hidden">
    <header id="header" class="header-style01">
      <!-- .container start -->
      <div class="container">
        <div class="main-nav">
          <div class="row">
            <div class="col-md-12">
              <!-- .navbar.pi-mega start -->
              <nav class="navbar navbar-default nav-left pi-mega" role="navigation">
                <!-- .navbar-header start -->
                <div class="navbar-header">
                  <!-- .logo start -->
                  <div class="logo">
                    <a href="../index">
                      <img src="../images/logo-sky.png" alt="Skyways Air Services Dubai" width="117" />
                    </a>
                  </div>
                  <!-- logo end -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                  <ul id="menu-menu" class="nav navbar-nav pi-nav menu">
                    <li id="menu-item-405"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-405 dropdown">
                      <a href="../index">Home<span></span></a>
                    </li>
                    <li id="menu-item-376"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-376 dropdown">
                      <a href="../about-us">About Us<span></span></a>
                    </li>
                    <li id="menu-item-384"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-384 dropdown">
                      <a href="../services">Services<span></span></a>
                    </li>
                    <li id="menu-item-400"
                      class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-65 current_page_item menu-item-400 dropdown">
                      <a href="../our-network">Our Network<span></span></a>
                    </li>
                    <li id="menu-item-402"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402 dropdown">
                      <a href="../contact-us">Contact Us<span></span></a>
                    </li>
                  </ul>
                  <!-- responsive navigation start -->
                  <div id="dl-menu" class="dl-menuwrapper">
                    <button class="dl-trigger">Open Menu</button>
                    <ul id="menu-menu-1" class="menu dl-menu">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-405">
                        <a href="../index">Home</a><span></span>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-376">
                        <a href="../about-us">About Us</a><span></span>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-384">
                        <a href="../services">Services</a><span></span>
                      </li>
                      <li
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-65 current_page_item menu-item-400">
                        <a href="../our-network">Our Network</a><span></span>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402">
                        <a href="../contact-us">Contact Us</a><span></span>
                      </li>
                    </ul>
                    <!-- responsive navigation end -->
                  </div>
                </div>
                <!-- .navbar.navbar-collapse end -->
              </nav>
              <!-- .navbar.pi-mega end -->
            </div>
          </div>
        </div>
      </div>
    </header>
  </section>
  <!-- #header-wrapper end -->
  <!-- .page-title start -->
  <div class="page-title-style01" style="
        background-image: url(../images/new-our-network-pb45w0sri3b7pj9aspw3cqxxqnxpjmiwok25gdj85e.jpg) !important;
      ">
    <div class="pt-mask"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Our Network</h1>
          <div class="breadcrumb-container">
            <ul class="breadcrumb">
              <li>You are here:</li>
              <li>
                <a href="../index" class="home">Home</a>
              </li>
              <li><span class="active">Our Network</span></li>
            </ul>
          </div>
        </div>
        <!-- .col-md-12 end -->
      </div>
      <!-- .row end -->
    </div>
    <!-- .container end -->
  </div>
  <!-- .page-title-style01.page-title-negative-top end -->
  <div style="" class="">
    <section class="page-content" style="">
      <section class="container">
        <div style="" class="">
          <div class="row" style="">
            <div style="" class="">
              <div class="col-md-12 custom-background color-background" style="background-color: #fafaf8">
                <div style="" class="">
                  <div class="custom-heading02">
                   
                  </div>
                </div>
                <div style="" class="">
                  <img src="../images/map1.jpg" class="center" title="img-network" alt="img-network"  />
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <!-- footer wrapper start -->
  <section id="footer-wrapper" class="footer-dark">
    <footer id="footer">
      <!-- .container start -->
      <div class="container">
        <!-- .row start -->
        <div class="row">
          <!-- animated fadeInTop -->
          <section>
            <ul class="footer-widget-container col-md-3">
              <li id="block-10" class="widget widget_block">
                <div class="wp-block-group">
                  <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
                    <h4 class="wp-block-heading">
                      <span class="has-inline-color has-white-color">ABOUT US</span>
                    </h4>

                   <p>
                      Skyways SLS Logistics Services Company, Kingdom of Saudi Arabia, is the 8th International office of Skyways Group, intending to become the Middle-East gateway offering a true global distribution network for the region.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="footer-widget-container col-md-3">
              <li id="block-11" class="widget widget_block">
                <div class="wp-block-group">
                  <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
                    <div class="wp-block-group">
                      <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
                        <h4 class="wp-block-heading">
                          <span class="has-inline-color has-white-color">TOP SERVICES</span>
                        </h4>

                        <p>
                          Air / Sea Freight Export / Import<br />Customs
                          Clearance<br />Door to Door Services<br />Fairs
                          &amp; Exhibitions<br />Warehousing and Distribution
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="footer-widget-container col-md-3">
              <li id="block-18" class="widget widget_block">
                <div class="wp-block-group">
                  <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
                    <h4 class="wp-block-heading">
                      <span class="has-inline-color has-white-color">TOP LINKS</span>
                    </h4>

                    <p>
                      <a href="../about-us" data-type="page" data-id="219">About Us</a><br /><a href="../services"
                        data-type="page" data-id="30">Our Services</a><br /><a href="../our-network" data-type="page"
                        data-id="65">Our Network</a><br /><a href="../contact-us" data-type="page"
                        data-id="341">Contact Us</a>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="footer-widget-container col-md-3">
              <li id="block-19" class="widget widget_block">
                <div class="wp-block-group">
                  <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
                    <h4 class="wp-block-heading">
                      <span class="has-inline-color has-white-color">CONTACT US</span>
                    </h4>
 <div class="cma-wysiwyg-editor">
                   <address>
  <strong style="font-weight: 700">Dammam</strong><br />
  Office # B 502, Al-Shatea Business Center.<br />
  Prince Mohammed Bin Fahd Road,<br />
  Ash Shati Ash Sharqi Dist,<br />
  Dammam 32411, Saudi Arabia.
</address>

<address>
  <strong style="font-weight: 700">Jeddah</strong><br />
  Office 25, 1st Floor, Worken space, Aster Altahlya Building,<br />
  2823 Prince Mohammed Bin Abdulaziz St,<br />
  Al Andalus, Jeddah 23322, Saudi Arabia
</address>

<p>
  Mobile: <a href="tel:+966138309942">+966 13 8309942</a><br />
  Email: <strong>RFQ:</strong> <a href="mailto:sales@skyways-ksa.com">sales@skyways-ksa.com</a>, 
  <strong>General:</strong> <a href="mailto:info@skyways-ksa.com">info@skyways-ksa.com</a>
</p> <br/>		
					
                  </div>
                  </div>
                </div>
              </li>
            </ul>
          </section>
        </div>
        <!-- .row end -->
      </div>
      <!-- .container end -->
    </footer>
    <!-- .footer-end -->

    <!-- copyright container start -->
    <section id="copyright-container" class="copyright-container">
      <!-- .container start -->
      <div class="container">
        <!-- .row start -->
        <div class="row">
          <section class="col-md-6">
            <p>
              © 2025 IT Skyways KSA. All Rights Reserved. |
              Powered by
              <a href="https://www.sgate.in/">sGate Tech Solutions Pvt. Ltd.</a>
            </p>
          </section>

          <section class="col-md-6 copyright-right">
            <p></p>
          </section>
          <!-- .col-md-6 omega end -->
        </div>
        <!-- .row end -->
      </div>
      <!-- .container end -->
    </section>
    <!-- .copyright-container end -->
  </section>
  <!-- .footer-wrapper end -->
  <a href="#" class="scroll-up">Scroll</a>
  <div class="clear"></div>
  <script type="speculationrules">
      {
        "prefetch": [
          {
            "source": "document",
            "where": {
              "and": [
                { "href_matches": "\/*" },
                {
                  "not": {
                    "href_matches": [
                      "\/wp-*.php",
                      "\/wp-admin\/*",
                      "\/wp-content\/uploads\/*",
                      "\/wp-content\/*",
                      "\/wp-content\/plugins\/*",
                      "\/wp-content\/themes\/trucking-child-theme\/*",
                      "\/wp-content\/themes\/trucking\/*",
                      "\/*\\?(.+)"
                    ]
                  }
                },
                { "not": { "selector_matches": "a[rel~=\"nofollow\"]" } },
                {
                  "not": { "selector_matches": ".no-prefetch, .no-prefetch a" }
                }
              ]
            },
            "eagerness": "conservative"
          }
        ]
      }
    </script>
  <script type="text/javascript" src="../js/hooks.min.js" id="wp-hooks-js"></script>
  <script type="text/javascript" src="../js/i18n.min.js" id="wp-i18n-js"></script>
  <script type="text/javascript" id="wp-i18n-js-after">
    /* <![CDATA[ */
    wp.i18n.setLocaleData({ "text direction\u0004ltr": ["ltr"] });
    /* ]]> */
  </script>
  <script type="text/javascript" src="../js/index.js" id="swv-js"></script>
  <script type="text/javascript" id="contact-form-7-js-before">
    /* <![CDATA[ */
    var wpcf7 = {
      api: {
        root: "https:\/\/skyways-logistik.ae\/wp-json\/",
        namespace: "contact-form-7\/v1",
      },
    };
    /* ]]> */
  </script>
  <script type="text/javascript" src="../js/index.js" id="contact-form-7-js"></script>
  <script type="text/javascript" src="../js/ssba.js" id="simple-share-buttons-adder-ssba-js"></script>
  <script type="text/javascript" id="simple-share-buttons-adder-ssba-js-after">
    /* <![CDATA[ */
    Main.boot([]);
    /* ]]> */
  </script>
  <script type="text/javascript" src="../js/jquery.plugins.min.js" id="volcanno_jquery_plugins-js"></script>
  <script type="text/javascript" src="../js/jquery.dlmenu.min.js" id="dl-menu-js"></script>
  <script type="text/javascript" src="../js/jquery.matchHeight-min.js" id="match-heights-js"></script>
  <script type="text/javascript" id="volcanno_include-js-extra">
    /* <![CDATA[ */
    var VolcannoConfig = {
      themeName: "trucking",
      cmaActive: "1",
      staticHeader: "1",
      retina: "1",
      portfolioLightboxOptions: "animated",
      portfolioLightboxCurrent: "0",
      mobileMenuBackLabel: "back",
    };
    /* ]]> */
  </script>
  <script type="text/javascript" src="../js/include.js" id="volcanno_include-js"></script>
</body>
</html>
